flows/Event_Budget_Calculator.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <environments>Default</environments>
    <formulas>
        <name>ContingencyAmount</name>
        <dataType>Currency</dataType>
        <expression>{!TotalExpenses}*{!Contigency}/100</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FinalBudget</name>
        <dataType>Currency</dataType>
        <expression>{!TotalExpenses}+{!ContingencyAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalExpenses</name>
        <dataType>Currency</dataType>
        <expression>{!Catering}+{!Decorations}+{!Entertainment}+{!Logistics}+{!Venue_Rental}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Event Budget Calculator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event Budget Calculator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_Event_Budget</name>
        <label>Update Event Budget</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Event_Budget__c</field>
            <value>
                <elementReference>FinalBudget</elementReference>
            </value>
        </inputAssignments>
        <object>Event_Plan__c</object>
    </recordUpdates>
    <screens>
        <name>Event_Budget</name>
        <label>Event Budget</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Expense_Categories</targetReference>
        </connector>
        <fields>
            <name>WelcomeMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; font-family: Montserrat, sans-serif; color: rgb(26, 26, 26);&quot;&gt;To assist event planners in estimating event budgets by collecting expense categories and their estimated costs, and then presenting a budget summary.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Expense_Categories</name>
        <label>Expense Categories</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Final_Event_Budget</targetReference>
        </connector>
        <fields>
            <name>Catering</name>
            <dataType>Currency</dataType>
            <fieldText>Catering</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Venue_Rental</name>
            <dataType>Currency</dataType>
            <fieldText>Venue Rental</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Decorations</name>
            <dataType>Currency</dataType>
            <fieldText>Decorations</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Entertainment</name>
            <dataType>Currency</dataType>
            <fieldText>Entertainment</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Logistics</name>
            <dataType>Currency</dataType>
            <fieldText>Logistics</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Contigency</name>
            <dataType>Number</dataType>
            <fieldText>Contigency %</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pauseButtonLabel>Calculate</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Event_Budget</name>
        <label>Final Event Budget</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Event_Budget</targetReference>
        </connector>
        <fields>
            <name>TotalExpensesMessage</name>
            <fieldText>&lt;p&gt;Sum of Total Expense would be: {!TotalExpenses}&lt;/p&gt;&lt;p&gt;The Contigency Amount would be: {!ContingencyAmount}&lt;/p&gt;&lt;p&gt;The Final Event Budget would be: {!FinalBudget}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Save the Record</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Event_Budget</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
